{% extends 'admin/admin_base.html.twig' %}

{% block title %}Edit ProductOption{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit ProductOption</h1>

        {{ include('admin/product/product_option/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_OPTION_INDEX')) }}">back to list</a>

        {{ include('admin/product/product_option/_delete_form.html.twig') }}
    </div>
{% endblock %}
