{% extends 'admin/admin_base.html.twig' %}

{% block title %}New ProductOption{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new ProductOption</h1>

        {{ include('admin/product/product_option/_form.html.twig') }}

        <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_OPTION_INDEX')) }}">back to list</a>
    </div>
{% endblock %}
