{% extends 'base.html.twig' %}
{% block body %}
    <div class="first-menu">
        <h2>
            <a href="#">
                <span class="first-line">The VR,</span>
                <br><span class="second-line">Just in front of you</span>
            </a>
        </h2>
    </div>
    <div class="second-menu">
        <h2><a href="#">Did you said retro gaming ?</a></h2>
    </div>
    <div class="third-menu">
        <h2>
            <a href="#">
                <span class="first-line">Yes, as you expected</span>
                <br><span class="second-line">We also have Playstation stuffs</span>
            </a>
        </h2>
    </div>
{% endblock %}