{% extends 'base.html.twig' %}
{% block title 'Homepage' %}
{% block body %}
    <div class="first-menu">
        <div class="text">
            <h2>
                <a href="#">
                    <span class="first-line">The VR,</span>
                    <br><span class="second-line">Just in front of you</span>
                </a>
            </h2>
        </div>
        <div class="img-container">
            <picture class="img">
                <img src="images/main/vr_waou.jpg" alt="Boy with a VR helmet">
            </picture>
        </div>
    </div>
    <div class="second-menu">
        <div class="text">
            <h2>
                <a href="#">
                    <span class="first-line">Have you said retro gaming ?</span>
                </a>
            </h2>
        </div>
        <div class="img-container">
            <picture class="img">
                <img src="images/main/retro.jpg" alt="">
            </picture>
        </div>
    </div>
    <div class="third-menu">
        <div class="text">
            <h2>
                <a href="#">
                    <span class="first-line">Yes, as you expected</span>
                    <br><span class="second-line">We also have Playstation products</span>
                </a>
            </h2>
        </div>
        <div class="img-container">
            <picture class="img">
                <img src="images/main/new.jpg" alt="">
            </picture>
        </div>
    </div>
    <div class="fourth-menu">
        <div class="text">
            <h2>
                <a href="#">
                    <span class="first-line">Want to stream ? Gotcha</span>
                </a>
            </h2>
        </div>
        <div class="img-container">
            <picture class="img">
                <img src="images/main/stream.jpg" alt="">
            </picture>
        </div>
    </div>
{% endblock %}