{% extends 'admin/admin_base.html.twig' %}

{% block title %}Edit ProductAttribute{% endblock %}
{% block admin_context_title 'Edit Product Attribute' %}

{% block body %}
    <section class="admin-content-container">

        {{ include('admin/product/product_attribute/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_ATTRIBUTE_INDEX')) }}">back to list</a>
    </section>
{% endblock %}
