{% extends 'admin/admin_base.html.twig' %}

{% block title %}Edit ProductAttribute{% endblock %}
{% block admin_context_title 'Edit Product Attribute' %}

{% block body %}
    <header class="admin-content-header">
        <h2>Edit "{{ form.vars.data.name }}"</h2>
        <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_ATTRIBUTE_INDEX')) }}" class="admin-top-button">back to list</a>
    </header>

        {{ include('admin/product/product_attribute/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}