{% extends 'admin/admin_base.html.twig' %}

{% block title %}Edit Product{% endblock %}
{% block admin_context_title 'Edit Product' %}

{% block body %}
    <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_INDEX')) }}" class="admin-back">back to list</a>
    <section class="admin-content-container">

        {{ include('admin/product/product/_form.html.twig', {'button_label': 'Update'}) }}

    </section>
{% endblock %}
