{% extends 'admin/admin_base.html.twig' %}

{% block title %}New Product{% endblock %}
{% block admin_context_title 'Create Product' %}

{% block body %}
    <section class="admin-content-container">
        {{ include('admin/product/product/_form.html.twig') }}

        <a href="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_INDEX')) }}">back to list</a>
    </section>
{% endblock %}
