<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Admin -{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <header class="admin-header">
            <div class="logo">
                <h1>Logo</h1>
            </div>
            <nav class="navbar-top">
                <a href="#">Your website</a>
            </nav>
        </header>
        <main>
            <nav class="admin-sidebar">
                <h3>Products</h3>
                <div class="sidebar-list">
                    <a href="#" class="sidebar-products">Products</a>
                    <a href="#" class="sidebar-product-attributes">Product Attributes</a>
                    <a href="#" class="sidebar-product-options">Product Options</a>
                </div>
            </nav>

            <h2 class="admin-context-title">{% block admin_context_title %}{% endblock %}</h2>
            <section class="admin-container">
                {% block body %}{% endblock %}
            </section>

        </main>
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
