/* We make the fonts import */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* We remove the browser basics */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
}
h1 {
    font-size: 2rem;
    color: #697082;
}
h3 {
    color: #707380;
    font-size: 1.3rem;
}
html {
    background: #E3E7EC;
    font-size: 16px;
}
:root {
    --sidebar-max-width: 220px;
}

/* We design the template */
.admin-body {
    display: grid;
    grid-template-columns: fit-content(var(--sidebar-max-width)) auto;
    grid-column-gap: 2rem;
    grid-row-gap: 4.375rem;
    width: 80vw;
    margin: 2rem auto 0 auto;
}
.admin-header {
    grid-column: span 4;
    display: flex;
    justify-content: space-between;
}
/* We design the sidebar */
.admin-sidebar {
}
.admin-navbar-side {
    display: flex;
    flex-direction: column;
}
.admin-navbar-side a {
    margin-top: 0.625rem;
    text-decoration: none;
    color: #8D909C;
}
.admin-navbar-side a::before {
    content: '';
    display: inline-block;
    margin-right: 0.313rem;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    background: url('images/products.svg');
}
.admin-navbar-side .sidebar-product-attributes::before {
    background-image: url('images/product_attributes.svg');
}
.admin-navbar-side .sidebar-product-options::before {
    background-image: url('images/product_options.svg');
}

/* We design the main */
.admin-main {
    grid-column: span 3;
    background: white;
    border-radius: 0.313rem;
    box-shadow: 0 0 0.313rem #8D909C;
    width: 100%;
}

/* We design the index table */
.admin-content-header {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
    padding: 0 1rem;
    border-bottom: #E3E7EC 0.063rem solid;
}
.admin-top-button {
    text-decoration: none;
    background: #6B82DD;
    color: white;
    border-radius: .313rem;
    padding: .313rem;
    transition: .3s;
}
.admin-top-button:hover {
    background: #5569b5;
}
.admin-table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}
.admin-table-head-index th {
    border-bottom: #E3E7EC 0.063rem solid;
    height: 2rem;
    background: #F7FAFC;
}
.admin-table-body-index td {
    height: 3rem;
    border-bottom: #E3E7EC 0.063rem solid;
}
.admin-table-body-index tr:last-child td {
    border: none;
}
.admin-table-head-index th:first-child,
.admin-table-body-index td:first-child {
    padding-left: 1rem;
}
.admin-delete-form {
    display: inline-block;
}
.admin-table-actions a {
    color: #6B82DD;
    text-decoration: none;
    transition: .3s;
}
.admin-table-actions a:hover {
    color: #5569b5;
}
.admin-table-actions button {
    background: none;
    border: none;
    font: inherit;
    padding: 0;
    margin-left: 0.626rem;
    cursor: pointer;
    color: #d62a2a;
    transition: .3s;
    appearance: unset;
}
.admin-table-actions button:hover {
    color: #aa2222;
}

/* We design the edit/new form */
.form-group {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.admin-form-label {
    flex: 30% 0 0;
    text-align: right;
    margin-right: .7rem;
}






















