/* We make the fonts import */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* We remove the browser basics */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
}
.admin-h1 {
    font-size: 2rem;
    color: #697082;
}
.admin-h3 {
    color: #707380;
    font-size: 1.3rem;
}
.admin-html {
    background: #E3E7EC;
    font-size: 16px;
}
:root {
    --admin-sidebar-max-width: 220px;
}

/* We design the template */
.admin-body {
    display: grid;
    grid-template-columns: fit-content(var(--admin-sidebar-max-width)) auto;
    grid-column-gap: 2rem;
    grid-row-gap: 4.375rem;
    width: 80vw;
    margin: 2rem auto 0 auto;
}
.admin-header {
    grid-column: span 4;
    display: flex;
    justify-content: space-between;
}
/* We design the sidebar */
.admin-navbar-side {
    display: flex;
    flex-direction: column;
}
.admin-navbar-side .active {
    color: #6d707c;
}
.admin-navbar-side a {
    margin-top: 0.625rem;
    text-decoration: none;
    color: #8D909C;
    transition: .3s;
}
.admin-navbar-side a:hover {
    color: #6d707c;
}
.admin-navbar-side a::before {
    content: '';
    display: inline-block;
    margin-right: 0.313rem;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    background: url('images/products.svg');
}
.admin-navbar-side .sidebar-product-attributes::before {
    background-image: url('images/product_attributes.svg');
}
.admin-navbar-side .sidebar-product-options::before {
    background-image: url('images/product_options.svg');
}

/* We design the main */
.admin-main {
    grid-column: span 3;
    background: white;
    border-radius: 0.313rem;
    box-shadow: 0 0 0.313rem #8D909C;
    width: 100%;
}

/* We design the index table */
.admin-content-header {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
    padding: 0 1rem;
    border-bottom: #E3E7EC 0.063rem solid;
}
.admin-content-header-link {
    display: flex;
}
.admin-content-header-top-button {
    text-decoration: none;
    background: #6B82DD;
    color: white;
    border-radius: .313rem;
    padding: .313rem;
    transition: .3s;
}
.admin-content-header-top-button:hover {
    background: #5569b5;
}
.admin-save {
    border: none;
    border-radius: .313rem;
    padding: .313rem;
    margin-right: .313rem;
    align-self: flex-start;
    cursor: pointer;
    transition: .3s;
    font: 700 16px 'Source Sans Pro';
    text-align: start;
}
.admin-save:hover {
    background: #c6c4c4;
    color: white;
}
.admin-table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}
.admin-table-head-index th {
    border-bottom: #E3E7EC 0.063rem solid;
    height: 2rem;
    background: #F7FAFC;
}
.admin-table-body-index td {
    height: 3rem;
    border-bottom: #E3E7EC 0.063rem solid;
}
.admin-table-body-index tr:last-child td {
    border: none;
}
.admin-table-head-index th:first-child,
.admin-table-body-index td:first-child {
    padding-left: 1rem;
}
.admin-delete-form {
    display: inline-block;
}
.admin-table-actions a {
    color: #6B82DD;
    text-decoration: none;
    transition: .3s;
}
.admin-table-actions a:hover {
    color: #5569b5;
}
.admin-table-actions button {
    background: none;
    border: none;
    font: inherit;
    padding: 0;
    margin-left: 0.626rem;
    cursor: pointer;
    color: #d62a2a;
    transition: .3s;
    appearance: unset;
}
.admin-table-actions button:hover {
    color: #aa2222;
}

/* We design the form */
.admin-form {
    background: #F7FAFC;
    padding: 1rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.admin-form-group {
    display: flex;
    padding-bottom: 1rem;
    align-items: center;
}
.admin-form-label {
    flex: 30% 0 0;
    text-align: right;
    margin-right: .313rem;
}
.admin-label-top {
    align-self: flex-start;
}
.admin-select-field .admin-label-top,
.admin-select-attribute-field .admin-label-top {
    margin-top: 5px;
}
.admin-input-text,
.admin-input-textarea,
.admin-input-integer,
.admin-input-select,
.admin-select-attribute,
.admin-attributes-list,
.admin-list {
    flex: 0 0 40%;
}
.admin-input-text,
.admin-input-textarea,
.admin-input-integer,
.admin-input-money,
.admin-select-field .select2,
.admin-select-attribute {
    min-height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #E3E7EC;
}
.admin-select-field .select2 .select2-selection,
.admin-select-attribute-field .select2 .select2-selection {
    min-height: 30px;
    border: none;
    border-radius: 5px;
    padding-bottom: 3px;
}
.admin-select-attribute-field .select2 .select2-selection {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.admin-input-money {
    flex: 0 0 18%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.admin-input-textarea {
    height: 200px;
}
.admin-select-field .select2 {
    flex: 0 0 40%;
}
.required::after {
    content: '*';
    color: red;
    margin-left: 3px;
}

/* We design the attribute list */
.admin-select-attribute {
    display: flex;
}
.admin-select-attribute .select2 {
    flex: 1;
}
.add-attribute-link {
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: .3s;
    cursor: pointer;
}
.add-attribute-link:hover {
    background: #c6c4c4;
    color: white;
}

/* We design the attribute value field */
.admin-list-attribute-element {
    display: flex;
}
.admin-list-attribute-element .admin-form-group {
    flex: 30% 0 0;
}
.admin-list-attribute-element .admin-select-field {
    display: none;
}
.admin-list-attribute-element .admin-form-group {
    flex: 10;
}
.remove-form-button {
    flex: 1;
    margin-bottom: 1rem;
    background: none;
    border: none;
    font: inherit;
    padding: 0;
    cursor: pointer;
    color: #d62a2a;
    transition: .3s;
    appearance: unset;
}
.remove-form-button:hover {
    color: #aa2222;
}

/* We design the collections */
.admin-list-collection-element {
    display: flex;
}
.admin-list-collection-element .admin-form-group {
    flex: 10;
}
.add-item-link {
    border: none;
    background: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    color: #6B82DD;
    transition: .3s;
}
.add-item-link::before {
    content: '+';
    margin-right: 5px;
}
.add-item-link:hover {
    color: #5569b5;
}

.admin-currency {
    padding: .313rem;
    background: #E4E4E4;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 1px 1px #E3E7EC;
}


















