// We remove the browser basics
@import "libs/reset.scss";

// We import the functions
@import "libs/functions.scss";

// We make the fonts import
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

// Variables
$search-width: rem(790);
$navbar-width: rem(300);
$grid-padding: rem(55);


.main-body {
    font: 400 $base-font-size 'Source Sans Pro';
    line-height: 1.5;
    background: #000000;
}

.categories-list {
    position: absolute;
    display: flex;
    top: 10vh;
    left: 0;
    background: #2b2b2b;
    width: 100vw;
    visibility: hidden;
    padding: rem(50);
    z-index: -1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        color: white;
        text-decoration: none;
    }
}

// We design the header
.header-top {
    top: 0;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 6;
    transition: .5s;

    .header-wrapper {
        height: 100%;
        color: white;
        display: flex;
        padding: 0 rem(50);
        justify-content: space-between;
        align-items: center;
        background: #000000;
        position: relative;
    }

    .logo {
        font-size: rem(24);
        transition: .5s;
    }

    .search-bar {
        height: rem(24);
        transition: .5s;

        .search-input {
            border-radius: rem(5);
            border: none;
            height: rem(24);
            width: $search-width;
            transition: .5s;
        }
    }

    .navbar-list {
        width: $navbar-width;
        display: flex;
        justify-content: space-between;
    }

    .list-element img {
        border-bottom: 1px transparent solid;
    }

    .list-element:hover img {
        animation: rotation 1s forwards;
    }

    .list-element:hover > .categories-list,
    .list-element .categories-list:hover {
        animation: menu-apparition 1s forwards;
    }
}

.grid-content {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);


    .text {
        display: flex;
        position: absolute;
        z-index: 1;
        color: #ffffff;
        width: 100%;
        height: 100%;
        padding: rem(50);

        h2 {
            font-size: rem(50);

            .first-line {
                margin-bottom: rem(10);
            }

            a {
                text-decoration: none;
                background: #000000;
                color: #FFFFFF;
                transition: .5s;

                &:hover {
                    background: #FFFFFF;
                    color: #000000;
                }
            }

            .first-line,
            .second-line {
                padding: 0 rem(10);
            }
        }
    }

    .first-menu {
        height: 90vh;
        position: relative;
        grid-row: span 2;
    }
    .second-menu {
        height: 45vh;
        position: relative;

        .text {
            align-items: center;
            justify-content: center;
        }
    }
    .third-menu {
        height: 45vh;
        position: relative;

        .text {
            align-items: flex-end;
            justify-content: flex-end;
            text-align: right;
        }
    }
    .fourth-menu {
        height: 95vh;
        position: relative;
        grid-column: span 2;
    }

    picture.img {
        height: 100%;

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: 0
        }
    }
}


// We make the animations
@keyframes menu-apparition {
    from {
        transform: translateY(-200px);
        visibility: hidden;
    }
    to {
        transform: none;
        visibility: visible;
    }
}
@keyframes rotation {
    from {
        transform: none;
    }
    to {
        transform: rotate(360deg);
        border-bottom-color: #FFFFFF;
    }
}



















