/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.main-body {
  font: 400 16px "Source Sans Pro";
  line-height: 1.5;
  background: #000000;
}

.categories-list {
  position: absolute;
  display: flex;
  top: 10vh;
  left: 0;
  background: #2b2b2b;
  width: 100vw;
  visibility: hidden;
  padding: 3.125rem;
  z-index: -1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.categories-list a {
  color: white;
  text-decoration: none;
}

.header-top {
  top: 0;
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 6;
  transition: 0.5s;
}
.header-top .header-wrapper {
  height: 100%;
  color: white;
  display: flex;
  padding: 0 3.125rem;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  position: relative;
}
.header-top .logo {
  font-size: 1.5rem;
  transition: 0.5s;
}
.header-top .search-bar {
  height: 1.5rem;
  transition: 0.5s;
}
.header-top .search-bar .search-input {
  border-radius: 0.3125rem;
  border: none;
  height: 1.5rem;
  width: 49.375rem;
  transition: 0.5s;
}
.header-top .navbar-list {
  width: 18.75rem;
  display: flex;
  justify-content: space-between;
}
.header-top .list-element img {
  border-bottom: 1px transparent solid;
}
.header-top .list-element:hover img {
  animation: rotation 1s forwards;
}
.header-top .list-element:hover > .categories-list,
.header-top .list-element .categories-list:hover {
  animation: menu-apparition 1s forwards;
}

.grid-content {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-content .text {
  display: flex;
  position: absolute;
  z-index: 1;
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 3.125rem;
}
.grid-content .text h2 {
  font-size: 3.125rem;
}
.grid-content .text h2 .first-line {
  margin-bottom: 0.625rem;
}
.grid-content .text h2 a {
  text-decoration: none;
  background: #000000;
  color: #FFFFFF;
  transition: 0.5s;
}
.grid-content .text h2 a:hover {
  background: #FFFFFF;
  color: #000000;
}
.grid-content .text h2 .first-line,
.grid-content .text h2 .second-line {
  padding: 0 0.625rem;
}
.grid-content .first-menu {
  height: 90vh;
  position: relative;
  grid-row: span 2;
}
.grid-content .second-menu {
  height: 45vh;
  position: relative;
}
.grid-content .second-menu .text {
  align-items: center;
  justify-content: center;
}
.grid-content .third-menu {
  height: 45vh;
  position: relative;
}
.grid-content .third-menu .text {
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}
.grid-content .fourth-menu {
  height: 95vh;
  position: relative;
  grid-column: span 2;
}
.grid-content picture.img {
  height: 100%;
}
.grid-content picture.img img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

@keyframes menu-apparition {
  from {
    transform: translateY(-200px);
    visibility: hidden;
  }
  to {
    transform: none;
    visibility: visible;
  }
}
@keyframes rotation {
  from {
    transform: none;
  }
  to {
    transform: rotate(360deg);
    border-bottom-color: #FFFFFF;
  }
}

/*# sourceMappingURL=app.css.map */
