<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ecommerce_bundle -{% block title %}{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </head>
    <body class="main-body">
        <header class="header-top">
            <h1 class="logo">Ecommerce_bundle</h1>
            <div class="search-bar">
                <input type="text" class="search-input">
            </div>
            <nav class="navbar-top">
                <a href="#" class="list-nav"><img src="images/main/list.svg" alt="list"></a>
                <a href="#" class="account-nav"><img src="images/main/account.svg" alt="account"></a>
                <a href="#" class="cart-nav"><img src="images/main/cart.svg" alt="cart"></a>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>