<form method="post" action="{{ path(constant('App\\Controller\\RouteName::ADMIN_PRODUCT_CATEGORY_DELETE'), {'id': product_category.id}) }}" class="admin-delete-form" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product_category.id) }}">
    <button class="admin-delete">Delete</button>
</form>
